@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
}

* {
    // outline: 1px rgba(255, 0, 0, .5) solid;
}

h1 {
    font-size: 3rem;
    line-height: 3rem;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
}

.btn {
    @apply flex items-center justify-center rounded-md py-2 px-4 text-sm font-medium outline outline-1 transition duration-300 ease-in-out;
}

.btn-base {
    @apply flex items-center justify-center rounded-md text-sm font-medium transition duration-300 ease-in-out;
}

.btn-basic[disabled],
.btn-basic[disabled]:hover {
    @apply text-gray-400 outline-gray-400;
}

.btn-basic {
    @apply text-indigo-500 outline-indigo-500;
}

.btn-basic:hover {
    @apply text-indigo-700 outline-indigo-700;
}

.filter-child {
    @apply py-2 px-3;
}

.filter-child:not(:last-child):not(.border-b-0) {
    @apply border-b;
}

.card {
    @apply rounded outline outline-1 outline-gray-300 transition-all duration-300 ease-in-out hover:outline-indigo-500;
}

.card-static {
    @apply rounded outline outline-1 outline-gray-300;
}

.menu-tab {
    @apply border-b-4 pb-1 font-medium;
}

.input {
    @apply w-full rounded-md border-gray-300 text-sm focus:ring-0;
}

.input[disabled] {
    opacity: 0.5;
}

.input:focus {
    @apply border border-indigo-500 ring-indigo-500;
}

.home-page {
    height: calc(100vh - 64px);
    background-image: url("~/public/static/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    opacity: 0.9;
}

.text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.thumbnail {
    height: 138px;
    width: 100px;
}

img:not([src]):not([srcset]) {
    visibility: hidden;
}
